<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Acr.UserDialogs" version="4.1.4" targetFramework="portable45-net45+wp8" />
  <package id="Acr.XamForms.UserDialogs" version="4.0.0" targetFramework="portable45-net45+wp8" />
  <package id="Autofac" version="3.5.2" targetFramework="portable-net45+wp8" />
  <package id="Splat" version="1.6.2" targetFramework="portable45-net45+wp8" />
  <package id="Xamarin.Forms" version="1.5.0.6447" targetFramework="portable45-net45+wp8" />
</packages>