<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android" android:installLocation="preferExternal" android:versionCode="11" package="com.farrellsoft.scorepredict.forms" android:versionName="1.1">
	<uses-sdk android:minSdkVersion="15" android:targetSdkVersion="19" />
	<application android:label="Score Predict" android:icon="@drawable/icon"></application>
</manifest>